#details{
    margin: 20px 0 40px 0;
}
form{
    border: solid black 1px;
}
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
#search{
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #ccc;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}