.row{
    margin: 0;
}
/*Start Header Style*/
.navbar{
    margin-bottom: 0;
    border-radius: 0;
}
@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0; 
}
}
.navbar-right{
    margin-right: 5px;
}
/*End Header Style*/

/*Start Main Style*/
#introduction{
    background-color: rgb(179, 231, 255);
}
#artists,.news{
    margin-top: 50px;
}
#first{
    margin-top: 70px;
}
.news h1{
    margin-top: 0px;
}
/*Some Styles For Mobile & Tablet*/
@media(max-width:992px){
    #readMoreBtn{
        margin-bottom: 20px;
    }
}
@media(max-width:984px){
    .btn{
        margin-bottom: 20px;
    }
}
/*End Main Style*/

footer{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
    background-color: #222222;
    color: white;
    bottom: 0;
}